name: Run tests
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:

    - name: Checkout repository
      uses: actions/checkout@v6.0.2
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 23

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      with:
        add-job-summary: always
        validate-wrappers: true

    - name: Run unit tests
      shell: bash
      run: ./gradlew --no-daemon --no-configuration-cache check

    - name: (Fail-only) Upload test report
      if: "${{ failure() }}"
      uses: actions/upload-artifact@v6.0.0
      with:
        name: Test report
        path: build/reports

  check-coverage:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.2
      with:
        fetch-depth: 0

    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 23

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      with:
        add-job-summary: always
        validate-wrappers: true

    - name: Check coverage
      shell: bash
      run: ./gradlew --no-daemon --no-configuration-cache koverXmlReport

    - name: Add coverage report to PR
      id: kover
      uses: mi-kas/kover-report@v1
      with:
        path: ${{ github.workspace }}/build/reports/kover/report.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        title: Code Coverage
        update-comment: true
        min-coverage-overall: 80
        min-coverage-changed-files: 80
